container_commands:
  01_install_requirements:
    cwd: /var/app/staging
    command: "source /var/app/venv/*/bin/activate && cd /var/app/staging && pip install uv && uv sync --active"
    leader_only: true
  02_migrate:
    cwd: /var/app/staging
    command: "source /var/app/venv/*/bin/activate && cd /var/app/staging && uv run manage.py migrate"
    leader_only: true
  03_collectstatic:
    cwd: /var/app/staging
    command: "source /var/app/venv/*/bin/activate && cd /var/app/staging && uv run manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
    PYTHONPATH: /var/app/current